{% extends "base.html" %}

{% block content %}
<div class="row mt-2">
    <div class="col-xs-12 col-md root-staticPage-custom">
        <div class="staticpage-content" data-qazy-container="">
            <div class="block-img-left clear">
                <div class="wrapper-img"><img alt="" src="/static/store.jpeg"
                        style="float: left; margin-right: 10px; height: 338px; width: 450px;" class="js-qazy-loaded">
                </div>
                <div style="line-height:2;"><span style="font-size:20px;">One Price — это федеральная сеть магазинов в
                        России, оптовая компания, созданная в 2016 году </span></div>
                <div style="line-height:2;"><span style="font-size:20px;">Мы продаём товары для дома, работы и отдыха.
                    </span></div>
                <div style="line-height:2;"><span style="font-size:20px;">Наши клиенты: мелкие и крупные оптовики и
                        простые розничные покупатели. За весь период существования OnePrice они полюбили нас за
                        привлекательные цены, эксклюзивные предложения и удобство в работе.</span></div>
            </div>
        </div>

    </div>
</div>
{% endblock %}