{% extends "base.html" %}

{% block content %}

<h3 class="title mt-2">
    Контакты
</h3>

<div style="line-height:2;"><span style="font-size:16px;"><strong>Телефон: </strong>+7 800 550 9459 </span></div>
<div style="line-height:2;"><span style="font-size:16px;"><strong>Email:&nbsp;</strong>info@oneprice-shop.ru</span></div>
<div style="line-height:2;"><span style="font-size:16px;"><strong>Наш адрес: </strong><span style="font-size:16px;">РП Заречье</span>, ул. Тихая, 13</span></div>

<div style="line-height:2;"><span style="font-size:16px;">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ МЕЛЬНИКОВ АЛЕКСАНДР ВАЛЕРЬЕВИЧ,<br>
    Юридический адрес организации: 143085, РОССИЯ, МОСКОВСКАЯ ОБЛ, Г ОДИНЦОВО, РП ЗАРЕЧЬЕ, УЛ МЕДОВАЯ, Д 4, КВ 314,<br>
    ИНН 344816510230,<br>
    ОГРН&nbsp;321508100355932,<br>
    Расчетный счет 40802810300002468000,<br>
    Банк АО "ТИНЬКОФФ БАНК",&nbsp;Москва, 127287, ул. Хуторская 2-я, д. 38А, стр. 26<br>
    БИК банка 044525974,<br>
    Корреспондентский счет банка 30101810145250000974,</span><br>
    &nbsp;</div>

{% endblock %}