{% extends "base.html" %}

{% block content %}
<h3 class="title mt-2">
    Политика конфиденциальности
</h3>
<div class="staticpage-content" data-qazy-container="">
<p><span style="font-size:16px;">I.&nbsp;Общие положения</span></p>

<p><span style="font-size:16px;">Настоящее Положение о&nbsp;политике конфиденциальности (далее&nbsp;— Положение) является официальным документом</span></p>

<p><span style="font-size:16px;">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ МЕЛЬНИКОВ АЛЕКСАНДР ВАЛЕРЬЕВИЧ,<br>
Юридический адрес организации: 143085, РОССИЯ, МОСКОВСКАЯ ОБЛ, Г ОДИНЦОВО, РП ЗАРЕЧЬЕ, УЛ МЕДОВАЯ, Д 4, КВ 314,<br>
ИНН 344816510230,<br>
ОГРН&nbsp;321508100355932,</span></p>

<p><span style="font-size:16px;">(далее&nbsp;— «Компания»/ «Оператор»), и&nbsp;определяет порядок обработки и&nbsp;защиты информации о&nbsp;физических лицах (далее&nbsp;— Пользователи), пользующихся сервисами, информацией, услугами, программами (в&nbsp;т.ч. программами лояльности) и&nbsp;продуктами интернет-магазина, расположенного на&nbsp;доменном имени&nbsp;https://oneprice-shop.ru/&nbsp;(далее&nbsp;— Сайт).</span></p>

<p><span style="font-size:16px;">Соблюдение конфиденциальности важно для Компании, потому что целью данной Политики конфиденциальности является обеспечение защиты прав и&nbsp;свобод человека и&nbsp;гражданина при обработке его персональных данных, в&nbsp;том числе защиты прав на&nbsp;неприкосновенность частной жизни, личную и&nbsp;семейную тайну, от&nbsp;несанкционированного доступа и&nbsp;разглашения.</span></p>

<p><span style="font-size:16px;">Мы&nbsp;разработали Политику Конфиденциальности, которая описывает, как мы&nbsp;осуществляем обработку персональных данных&nbsp;— любые действия (операции) или совокупность действий (операций), совершаемых с&nbsp;использованием средств автоматизации или без использования таких средств с&nbsp;персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</span></p>

<p><span style="font-size:16px;">Отношения, связанные с&nbsp;обработкой персональных данных и&nbsp;информации о&nbsp;пользователях Сайта, регулируются настоящим Положением, иными официальными документами Оператора и&nbsp;действующим законодательством РФ</span></p>

<p><span style="font-size:16px;">Обработка персональных данных осуществляется нами на&nbsp;законной и&nbsp;справедливой основе, действуя разумно и&nbsp;добросовестно и&nbsp;на&nbsp;основе принципов:</span></p>

<p><span style="font-size:16px;">—&nbsp;законности целей и&nbsp;способов обработки персональных данных;<br>
—&nbsp;добросовестности;<br>
—&nbsp;соответствия целей обработки персональных данных целям, заранее определенным и&nbsp;заявленным при сборе персональных данных, а&nbsp;также полномочиям Компании;<br>
—&nbsp;соответствия объема и&nbsp;характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных</span></p>

<p><span style="font-size:16px;">Настоящая Политика Конфиденциальности регулирует любой вид обработки персональных данных и&nbsp;информации личного характера (любой информации, позволяющей установить личность, и&nbsp;любой иной информации, связанной с&nbsp;этим) о&nbsp;физических лицах, которые являются потребителями продукции или услуг Компании.</span></p>

<p><span style="font-size:16px;">Настоящая Политика распространяется на&nbsp;обработку личных, персональных данных, собранных любыми средствами, как активными, так и&nbsp;пассивными, как через Интернет, так и&nbsp;без его использования, от&nbsp;лиц, находящихся в&nbsp;любой точке мира.</span></p>

<p><span style="font-size:16px;">II. Сбор персональных данных</span></p>

<p><span style="font-size:16px;">Целью обработки персональных данных является выполнения обязательств Оператора перед Пользователями в&nbsp;отношении использования Сайта и&nbsp;его сервисов.</span></p>

<p><span style="font-size:16px;">Обработка персональных данных пользователей осуществляется с&nbsp;согласия субъекта персональных данных на&nbsp;обработку его персональных данных.</span></p>

<p><span style="font-size:16px;">Под персональными данными понимается любая информация, относящаяся к&nbsp;прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных) и&nbsp;которая может быть использована для идентификации определенного лица либо связи с&nbsp;ним.</span></p>

<p><span style="font-size:16px;">Мы&nbsp;можем запросить у&nbsp;Вас персональные данные в&nbsp;любой момент, когда&nbsp;Вы связываетесь с&nbsp;Компанией. Компания может использовать такие данные в&nbsp;соответствии с&nbsp;настоящей Политикой Конфиденциальности. Она также может совмещать такую информацию с&nbsp;иной информацией для целей предоставления и&nbsp;улучшения своих продуктов, услуг, информационного наполнения (контента) и&nbsp;коммуникаций.</span></p>

<p><span style="font-size:16px;">Ниже приведены некоторые примеры типов персональных данных, которые Компания может собирать, и&nbsp;как мы&nbsp;можем использовать такую информацию.</span></p>

<p><span style="font-size:16px;">КАКИЕ ПЕРСОНАЛЬНЫЕ ДАННЫЕ МЫ&nbsp;СОБИРАЕМ</span></p>

<p><span style="font-size:16px;">Мы&nbsp;можем собирать различные данные/информацию, включая:</span></p>

<p><span style="font-size:16px;">—&nbsp;имя, отчество и&nbsp;фамилию;<br>
—&nbsp;дату рождения;<br>
—&nbsp;пол;<br>
—&nbsp;почтовый адрес;<br>
—&nbsp;номер телефона;<br>
—&nbsp;адрес электронной почты.</span></p>

<p><span style="font-size:16px;">Персональные данные могут также включать в&nbsp;себя дополнительно предоставляемые Пользователями по&nbsp;запросу Оператора в&nbsp;целях исполнения Оператором обязательств перед Пользователями, вытекающих из&nbsp;договора на&nbsp;оказание услуг. Оператор вправе, в&nbsp;частности, запросить у&nbsp;Пользователя копию документа, удостоверяющего личность, либо иного документа, содержащего имя, фамилию, фотографию Пользователя, а&nbsp;также иные дополнительные данные, которые, по&nbsp;усмотрению Оператора, будут являться необходимыми и&nbsp;достаточными для идентификации такого Пользователя и&nbsp;позволят исключить злоупотребления и&nbsp;нарушения прав третьих лиц.</span></p>

<p><span style="font-size:16px;">Когда Вы&nbsp;привлекаете к&nbsp;нашим мероприятиям и&nbsp;активностям других лиц или приглашаете их&nbsp;к&nbsp;коммуникациям с&nbsp;нами, Компания может собирать предоставляемые Вами персональные данных об&nbsp;этих лицах, такую как: имя, отчество, фамилия, дата рождения, почтовый адрес, адрес электронной почты и&nbsp;номер телефона.</span></p>

<p><span style="font-size:16px;">При обработке персональных данных нами обеспечивается точность персональных данных, их&nbsp;достаточность, а&nbsp;в&nbsp;необходимых случаях и&nbsp;актуальность по&nbsp;отношению к&nbsp;целям обработки персональных данных.</span></p>

<p><span style="font-size:16px;">III. Хранение и&nbsp;использование персональных данных</span></p>

<p><span style="font-size:16px;">Персональные данные Пользователей хранятся исключительно на&nbsp;электронных носителях и&nbsp;обрабатываются с&nbsp;использованием автоматизированных систем, за&nbsp;исключением случаев, когда неавтоматизированная обработка персональных данных необходима в&nbsp;связи с&nbsp;исполнением требований законодательства.</span></p>

<p><span style="font-size:16px;">КАК МЫ&nbsp;ИСПОЛЬЗУЕМ ВАШУ ПЕРСОНАЛЬНУЮ ИНФОРМАЦИЮ</span></p>

<p><span style="font-size:16px;">Собираемые нами персональные данные позволяют направлять Вам уведомления о&nbsp;новых продуктах, специальных предложениях и&nbsp;различных событиях. Они также помогает нам улучшать наши услуги, контент и&nbsp;коммуникации. Если Вы&nbsp;не&nbsp;желаете быть включенным в&nbsp;наш список рассылки, Вы&nbsp;можете в&nbsp;любое время отказаться от&nbsp;рассылки путём информирования нас по&nbsp;указанным контактам для обратной связи, а&nbsp;также внесения изменений в&nbsp;настройках вашего профиля на&nbsp;сайте.</span></p>

<p><span style="font-size:16px;">Время от&nbsp;времени мы&nbsp;можем использовать Ваши персональные данные для отправки важных уведомлений, содержащих информацию об&nbsp;изменениях наших положений, условий и&nbsp;политик, а&nbsp;также подтверждающих размещенные Вами заказы и&nbsp;совершенные покупки. Поскольку такая информация важна для Ваших взаимоотношений с&nbsp;Компанией, Вы&nbsp;не&nbsp;можете отказаться от&nbsp;получения таких сообщений.</span></p>

<p><span style="font-size:16px;">Мы&nbsp;также можем использовать персональную информацию для внутренних целей, таких как: проведение аудита, анализ данных и&nbsp;различных исследований в&nbsp;целях улучшения продуктов и&nbsp;услуг Компании, а&nbsp;также взаимодействие с&nbsp;потребителями.</span></p>

<p><span style="font-size:16px;">Если Вы&nbsp;принимаете участие в&nbsp;розыгрыше призов, конкурсе или похожем стимулирующем мероприятии, мы&nbsp;сохраняем за&nbsp;собой право использовать предоставляемые Вами персональные данные для управления такими программами.</span></p>

<p><span style="font-size:16px;">СБОР И&nbsp;ИСПОЛЬЗОВАНИЕ ИНФОРМАЦИИ, НЕ&nbsp;ЯВЛЯЮЩЕЙСЯ ПЕРСОНАЛЬНОЙ</span></p>

<p><span style="font-size:16px;">Мы&nbsp;также собираем персональные данные, не&nbsp;являющиеся персональными − данные, не&nbsp;позволяющие прямо ассоциировать их&nbsp;с&nbsp;каким-либо определённым лицом. Мы&nbsp;можем собирать, использовать, передавать и&nbsp;раскрывать информацию, не&nbsp;являющуюся персональной, для любых целей. Ниже приведены примеры информации, не&nbsp;являющейся персональной, которую мы&nbsp;собираем, и&nbsp;как мы&nbsp;можем её&nbsp;использовать:</span></p>

<p><span style="font-size:16px;">Мы&nbsp;можем собирать персональные данные, такие как: сведения о&nbsp;роде занятий, языке, почтовом индексе, местоположении и&nbsp;временной зоне, в&nbsp;которой используется тот или иной продукт, для того чтобы лучше понимать поведение потребителей и&nbsp;улучшать наши продукты, услуги и&nbsp;коммуникации.</span></p>

<p><span style="font-size:16px;">Мы&nbsp;можем также собирать персональные данные/информацию о&nbsp;том, чем интересуется пользователь на&nbsp;нашем веб-сайте при использовании других наших продуктов и&nbsp;сервисов. Такие персональные данные/информация собирается и&nbsp;используется для того, чтобы помочь нам предоставлять более полезную информацию нашим покупателям и&nbsp;для понимания того, какие элементы нашего сайта, продуктов и&nbsp;услуг наиболее интересны. Для целей настоящей Политики Конфиденциальности совокупные данные рассматриваются как данные/информация, не&nbsp;являющиеся персональными.</span></p>

<p><span style="font-size:16px;">Если мы&nbsp;совмещаем информацию, не&nbsp;являющуюся персональной, с&nbsp;персональной информацией, такая совокупная информация будет рассматриваться как персональная информация, пока такая информация будет являться совмещённой.</span></p>

<p><span style="font-size:16px;">IV. Передача персональных данных</span></p>

<p><span style="font-size:16px;">Персональные данные Пользователей не&nbsp;передаются каким-либо третьим лицам, за&nbsp;исключением случаев, прямо предусмотренных настоящими Правилами.</span></p>

<p><span style="font-size:16px;">Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в&nbsp;том числе в&nbsp;информационных системах персональных данных с&nbsp;использованием средств автоматизации или без использования таких средств</span></p>

<p><span style="font-size:16px;">Пользователь соглашается с&nbsp;тем, что Оператор вправе передавать персональные данные третьим лицам, в&nbsp;частности, курьерским службам, организациями почтовой связи, операторам электросвязи и&nbsp;т.д., исключительно для целей, указанных в&nbsp;разделе «Сбор персональных данных» настоящей Политики конфиденциальности</span></p>

<p><span style="font-size:16px;">При указании пользователя или при наличии согласия пользователя возможна передача персональных данных Пользователя третьим лицам-контрагентам Оператора с&nbsp;условием принятия такими контрагентами обязательств по&nbsp;обеспечению конфиденциальности полученной информации, в&nbsp;частности, при использовании приложений.</span></p>

<p><span style="font-size:16px;">Приложения, используемые Пользователями на&nbsp;Сайте, размещаются и&nbsp;поддерживаются третьими лицами (разработчиками), которые действуют независимо от&nbsp;Оператора и&nbsp;не&nbsp;выступают от&nbsp;имени или по&nbsp;поручению Оператора. Пользователи обязаны самостоятельно ознакомиться с&nbsp;правилами оказания услуг и&nbsp;политикой защиты персональных данных таких третьих лиц (разработчиков) до&nbsp;начала использования соответствующих приложений.</span></p>

<p><span style="font-size:16px;">Персональные данные Пользователя могут быть переданы по&nbsp;запросам уполномоченных органов государственной власти&nbsp;РФ только по&nbsp;основаниям и&nbsp;в&nbsp;порядке, установленным законодательством РФ.</span></p>

<p><span style="font-size:16px;">Оператор осуществляет блокирование персональных данных, относящихся к&nbsp;соответствующему Пользователю, с&nbsp;момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по&nbsp;защите прав субъектов персональных данных на&nbsp;период проверки, в&nbsp;случае выявления недостоверных персональных данных или неправомерных действий.</span></p>

<p><span style="font-size:16px;">РАСКРЫТИЕ ИНФОРМАЦИИ ТРЕТЬИМ ЛИЦАМ</span></p>

<p><span style="font-size:16px;">В&nbsp;некоторых случаях Компания может предоставлять определенную персональную информацию и&nbsp;данные стратегическим партнерам, которые работают с&nbsp;Компанией для предоставления продуктов и&nbsp;услуг, или тем из&nbsp;них, которые помогают Компании реализовывать продукты и&nbsp;услуги потребителям. Мы&nbsp;предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.</span></p>

<p><span style="font-size:16px;">Персональная информация будет предоставляться Компанией только в&nbsp;целях обеспечения потребителей продуктами и&nbsp;услугами, а&nbsp;также для улучшения этих продуктов и&nbsp;услуг, связанных с&nbsp;ними коммуникаций. Такая информация не&nbsp;будет предоставляться третьим лицам для их&nbsp;маркетинговых целей.</span></p>

<p><span style="font-size:16px;">Для использования Ваших персональных данных для любой иной цели мы&nbsp;запросим Ваше Согласие на&nbsp;обработку Ваших персональных данных</span></p>

<p><span style="font-size:16px;">ПОСТАВЩИКИ УСЛУГ</span></p>

<p><span style="font-size:16px;">Компания предоставляет персональные данные/информацию Компаниям, оказывающим такие услуги, как: обработка информации, исполнение заказов потребителей, доставка, иные виды обслуживания потребителей. Такие компании обязуются защищать Вашу информацию независимо от&nbsp;страны своего расположения.</span></p>

<p><span style="font-size:16px;">ИНЫЕ ЛИЦА</span></p>

<p><span style="font-size:16px;">Компании может быть необходимо&nbsp;— в&nbsp;соответствии с&nbsp;законом, судебным порядком, в&nbsp;судебном разбирательстве и/или на&nbsp;основании публичных запросов или запросов от&nbsp;государственных органов на&nbsp;территории или вне территории страны Вашего пребывания&nbsp;— раскрыть Ваши персональные данные. Мы&nbsp;также можем раскрывать персональные данные/информацию о&nbsp;Вас, если мы&nbsp;определим, что такое раскрытие необходимо или уместно в&nbsp;целях национальной безопасности, поддержания правопорядка или иных общественно важных случаях.</span></p>

<p><span style="font-size:16px;">Мы&nbsp;также можем раскрывать персональные данные/информацию о&nbsp;Вас, если мы&nbsp;определим, что раскрытие необходимо для приведения в&nbsp;исполнение наших положений и&nbsp;условий либо для целей защиты нашей деятельности и&nbsp;наших пользователей. Дополнительно в&nbsp;случае реорганизации, слияния или продажи мы&nbsp;можем передать любую или всю собираемую нами персональную информацию соответствующему третьему лицу.</span></p>

<p><span style="font-size:16px;">V. Уничтожение персональных данных</span></p>

<p><span style="font-size:16px;">Персональные данные пользователя уничтожаются при:</span></p>

<p><span style="font-size:16px;">—&nbsp;получении Администрацией соответствующего требования, направленного Пользователем на действующую электронную почту магазина с предоставлением электронных копий документов, подтверждающих личность;<br>
—&nbsp;удалении Оператором информации, размещаемой Пользователем, а&nbsp;также персональной страницы Пользователя в&nbsp;случаях, установленных договором купли продажи (оферта);<br>
—&nbsp;отзыве субъектом персональных данных согласия на&nbsp;обработку персональных данных.</span></p>

<p><span style="font-size:16px;">VI. Защита персональных данных</span></p>

<p><span style="font-size:16px;">Компания предпринимает меры предосторожности&nbsp;— включая правовые, организационные, административные, технические и&nbsp;физические&nbsp;— для обеспечения защиты Ваших персональных данных в&nbsp;соответствии со&nbsp;ст. 19&nbsp;Федерального закона от&nbsp;27.07.2006&nbsp;N 152-ФЗ «О&nbsp;персональных данных» в&nbsp;целях обеспечения защиты персональных данных Пользователя от&nbsp;неправомерного или случайного доступа к&nbsp;ним, уничтожения, изменения, блокирования, копирования, распространения, а&nbsp;также от&nbsp;иных неправомерных действий третьих лиц.</span></p>

<p><span style="font-size:16px;">Когда Вы&nbsp;используете некоторые продукты, услуги или приложения Компании или размещаете записи на&nbsp;форумах, в&nbsp;чатах или социальных сетях, предоставляемые Вами персональные данные видны другим пользователям и&nbsp;могут быть прочитаны, собраны или использованы ими. Вы&nbsp;несёте ответственность за&nbsp;персональные данные, которые&nbsp;Вы предпочитаете предоставлять, в&nbsp;таких случаях самостоятельно. Пожалуйста, соблюдайте меры предосторожности при использовании таких функций.</span></p>

<p><span style="font-size:16px;">ЦЕЛОСТНОСТЬ И&nbsp;СОХРАНЕНИЕ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</span></p>

<p><span style="font-size:16px;">Взаимодействуя с&nbsp;Компанией, Вы&nbsp;можете легко поддерживать свои персональные данные и&nbsp;информацию в&nbsp;актуальном состоянии. Мы&nbsp;будем хранить Ваши персональные данные и&nbsp;информацию в&nbsp;течение срока, необходимого для выполнения целей, описываемых в&nbsp;настоящей Политике Конфиденциальности, за&nbsp;исключением случаев, когда более длительный период хранения данных и&nbsp;информации необходим в&nbsp;соответствии с&nbsp;законодательством либо разрешён&nbsp;им.</span></p>

<p><span style="font-size:16px;">Мы&nbsp;не&nbsp;собираем персональные данные о&nbsp;несовершеннолетних. Если нам станет известно о&nbsp;том, что мы&nbsp;получили персональные данные о&nbsp;несовершеннолетнем, мы&nbsp;предпримем меры для удаления такой информации в&nbsp;максимально короткий срок.</span></p>

<p><span style="font-size:16px;">Мы&nbsp;настоятельно рекомендуем родителям и&nbsp;иным лицам, под чьим присмотром находятся несовершеннолетние (законные представители&nbsp;— родители, усыновители или попечители), контролировать использование несовершеннолетними веб-сайтов.</span></p>

<p><span style="font-size:16px;">СТОРОННИЕ САЙТЫ И&nbsp;УСЛУГИ</span></p>

<p><span style="font-size:16px;">Веб-сайты, продукты, приложения и&nbsp;услуги Компании могут содержать ссылки на&nbsp;веб-сайты, продукты и&nbsp;услуги третьих лиц. Наши продукты и&nbsp;услуги могут также использовать или предлагать продукты или услуги третьих лиц. Персональные данные и&nbsp;информация, собираемая третьими лицами, которые могут включать такие сведения, как данные местоположения или контактная информация, регулируется правилами соблюдения конфиденциальности таких третьих лиц. Мы&nbsp;призываем Вас изучать правила соблюдения конфиденциальности таких третьих лиц.</span></p>

<p><span style="font-size:16px;">Оператор не&nbsp;несет ответственности за&nbsp;действия третьих лиц, получивших в&nbsp;результате использования Интернета или Услуг Сайта доступ к&nbsp;информации о&nbsp;Пользователе и&nbsp;за&nbsp;последствия использования данных и&nbsp;информации, которые, в&nbsp;силу природы Сайта, доступны любому пользователю сети Интернет.</span></p>

<p><span style="font-size:16px;">СОБЛЮДЕНИЕ ВАШЕЙ КОНФИДЕНЦИАЛЬНОСТИ НА&nbsp;УРОВНЕ КОМПАНИИ</span></p>

<p><span style="font-size:16px;">Для того чтобы убедиться, что Ваши персональные данные находятся в&nbsp;безопасности, мы&nbsp;доводим нормы соблюдения конфиденциальности и&nbsp;безопасности до&nbsp;работников Компании и&nbsp;строго следим за&nbsp;исполнением мер соблюдения конфиденциальности внутри Компании.</span></p>

<p><span style="font-size:16px;">ВОПРОСЫ ОТНОСИТЕЛЬНО КОНФИДЕНЦИАЛЬНОСТИ</span></p>

<p><span style="font-size:16px;">Если у&nbsp;вас возникнут вопросы в&nbsp;отношении Политики Конфиденциальности Компании или обработки данных Компанией, Вы&nbsp;можете связаться с&nbsp;нами&nbsp;по&nbsp;контактам для обратной связи (info@<span style="font-size:16px;">oneprice-shop.ru</span>).</span></p>

<p><span style="font-size:16px;">VII. Обращения пользователей</span></p>

<p><span style="font-size:16px;">К&nbsp;настоящей Политике конфиденциальности и&nbsp;отношениям между Пользователем и&nbsp;Оператором применяется действующее законодательство РФ.</span></p>

<p><span style="font-size:16px;">Пользователи вправе направлять Оператору свои запросы, в&nbsp;том числе запросы относительно использования их&nbsp;персональных данных, направления отзыва согласия на&nbsp;обработку персональных данных в&nbsp;письменной форме по&nbsp;адресу, указанному разделе Общие положения настоящего положения, или в&nbsp;форме электронного документа, подписанного квалифицированной электронной подписью в&nbsp;соответствии с&nbsp;законодательством&nbsp;РФ, и&nbsp;отправленного посредством формы обратной связи (info@<span style="font-size:16px;">oneprice-shop.ru</span>).</span></p>

<p><span style="font-size:16px;">Запрос, направляемый Пользователем, должен соответствовать требованиям, установленным Правилами подачи обращений в&nbsp;Службу сервиса и&nbsp;поддержки, а&nbsp;именно содержать:</span></p>

<p><span style="font-size:16px;">— ФИО;<br>
—&nbsp;адрес электронной почты.</span></p>

<p><span style="font-size:16px;">Оператор обязуется рассмотреть и&nbsp;направить ответ на&nbsp;поступивший запрос Пользователя в&nbsp;течение 30&nbsp;дней с&nbsp;момента поступления обращения.</span></p>

<p><span style="font-size:16px;">ДРУГОЕ</span></p>

<p><span style="font-size:16px;">Во&nbsp;всем остальном, что не&nbsp;отражено напрямую в&nbsp;Политике Конфиденциальности, Компания обязуется руководствоваться нормами и&nbsp;положениями Федерального закона от&nbsp;27.07.2006&nbsp;N 152-ФЗ «О&nbsp;персональных данных»</span></p>

<p><span style="font-size:16px;">Посетитель сайта Компании, предоставляющий свои персональные данные и&nbsp;информацию, тем самым соглашается с&nbsp;положениями данной Политики Конфиденциальности.</span></p>

<p><span style="font-size:16px;">Компания оставляет за&nbsp;собой право вносить любые изменения в&nbsp;Политику в&nbsp;любое время по&nbsp;своему усмотрению с&nbsp;целью дальнейшего совершенствования системы защиты от&nbsp;несанкционированного доступа к&nbsp;сообщаемым Пользователями персональным данным без согласия Пользователя. Когда мы&nbsp;вносим существенные изменения в&nbsp;Политику Конфиденциальности, на&nbsp;нашем сайте размещается соответствующее уведомление вместе с&nbsp;обновлённой версией Политики Конфиденциальности.</span></p>

<p><span style="font-size:16px;">Действие настоящей Политики не&nbsp;распространяется на&nbsp;действия и&nbsp;интернет-ресурсы третьих лиц.</span></p>

</div>

{% endblock %}