<!-- Добавление категории -->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Добавление категории</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{ url_for('admin.add_category') }}" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="form-group" style="width: 300px;">
                        <label for="category_file" class="form-label">Изображение категории</label>
                        <input type="file" name="file" class="form-control" id="category_file">
                    </div>
                    <div class="form-group">
                        <label for="category_name">Название категории:</label>
                        <input type="text" name="name" id="category_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="main_category">Главная категория:</label>
                        <select name="main_category" id="main_category" class="form-control">
                            <option value="">Нет (Верхний уровень)</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary mt-2">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>