<!-- Изменение товара -->
<div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Изменение товара</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{ url_for('admin.edit_product') }}" enctype="multipart/form-data">
                <!-- Input fields for name, description, price, image_url -->
                <input type="hidden" name="update_product_id" id="update_product_id">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="mb-3" style="width: 300px;">
                            <img id="update_product_image" src="" alt="" width="40px">
                            <label for="file" class="form-label">Изменить изображение товара</label>
                            <input type="file" name="file" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Название товара</label>
                            <input type="text" class="form-control" name="update_product_name" id="update_product_name">
                            <label for="description" class="form-label">Описание товара</label>
                            <textarea class="form-control" name="update_product_description" id="update_product_description" rows="3"></textarea>
                        </div>
                        <div class="mb-3">

                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Цена товара</label>
                            <input type="text" class="form-control" name="update_product_price" id="update_product_price">
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Количество товара</label>
                            <input type="text" class="form-control" name="update_product_quantity" id="update_product_quantity">
                        </div>
                        <div class="mb-3">
                            <label for="category">Категория:</label>
                            <select name="update_product_category_name" class="form-control" id="">
                                {% for category in categories %}
                                <option value="{{ category.id }}">{{ '-' * category.level }} {{ category.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer category-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" id="updateProductId">Изменить товар</button>
                </div>
            </form>
        </div>
    </div>
</div>