{% extends "base.html" %}

{% block content %}
<div class="row mt-2">
    <div class="col-xs-12 col-md root-staticPage-custom">
        <div class="staticpage-content" data-qazy-container="">
            <div class="block-img-left clear">
                <div class="wrapper-img"><img alt="" src="/static/Shop.jpg"
                        style="float: left; margin-right: 10px; height: 338px; width: 450px;" class="js-qazy-loaded">
                </div>
                <div style="line-height:2;"><span style="font-size:20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat omnis asperiores voluptatem dolore unde laborum, sit labore! Eaque asperiores dignissimos repudiandae quo excepturi itaque, perferendis nam neque totam molestias assumenda.</span></div>
            </div>
        </div>

    </div>
</div>
{% endblock %}