{% extends "base.html" %}

{% block content %}

<h3 class="title mt-2">
    Контакты
</h3>

<div style="line-height:2;"><span style="font-size:16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero mollitia molestias placeat esse rerum quasi necessitatibus, illum ex vero, voluptas aliquam architecto possimus fugiat debitis porro consequatur deleniti recusandae quo?</span><br>&nbsp;</div>
<div style="line-height:2;"><span style="font-size:16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero mollitia molestias placeat esse rerum quasi necessitatibus, illum ex vero, voluptas aliquam architecto possimus fugiat debitis porro consequatur deleniti recusandae quo?</span><br>&nbsp;</div>
<div style="line-height:2;"><span style="font-size:16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero mollitia molestias placeat esse rerum quasi necessitatibus, illum ex vero, voluptas aliquam architecto possimus fugiat debitis porro consequatur deleniti recusandae quo?</span><br>&nbsp;</div>
        
{% endblock %}