{% extends "admin/base_admin.html" %}

{% block content %}
<div class="container">

    <h2>Товары</h2>
        <div class="input-group">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
            Добавить товар
        </button>
        <input type="text" id="productSearch" placeholder="Поиск товаров..." class="form-control">
        <select id="categoryFilter" class="form-control">

        </select>
    </div>
    <table class="table" id="productsTable">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Имя</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Категория</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>
<div class="container">
    <h2>Категории</h2>
    <div class="input-group">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">
        Добавить категорию
    </button>
    <input type="text" id="categorySearch" placeholder="Поиск категорий..." class="form-control">
    </div>
    <table class="table" id="categoriesTable">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{%  include "modals/add_product.html" %}
{%  include "modals/edit_product.html" %}
{%  include "modals/delete_product.html" %}
{%  include "modals/add_category.html" %}
{%  include "modals/edit_category.html" %}
{%  include "modals/delete_category.html" %}

<script>
    const productsData = JSON.parse({{ products_json | tojson }});
    const categoriesData = JSON.parse({{ categories_json | tojson }});
</script>
<script src="{{ url_for('static', filename='js/filter_search_render.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_update_categories_and_products.js') }}"></script>

{% endblock %}